.carttoptext{
    text-align: center;
    color: #255f03;
}

.cartitem img{
    float: left;
    width: 50px;
    height: auto;
    border-radius: 5px;
}
.cartitem{
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 50px 0;
    padding: 10px;
}

.checkout{
    width: 230px;
    height: 70px;
    font-size: 30px;
    background-color: #255f03;
    border-radius: 7px;
}

.checkout:hover{
    background-color: #469717;
}
.controls0:hover{
    background-color: #469717;
}

.controls1:hover{
    background-color: #469717;
}

.controls0{
    width: 25px;
    height: 30px;
    display: flex;
    font-size: 25px;
    background-color: #255f03;
    color: white;
    border: 0cm;
}

.controls01{
    width: 30px;
    height: 30px;
    display: flex;
    color: white;
    font-size: 25px;
    background-color: #255f03;
    border: 0cm;
}

.controls1{
    width: 30px;
    height: 25px;
    display: flex;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #255f03;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.stylecontrols{
    display: flex;
  align-items: center;     /* vertically center the buttons and input */
  gap: 5px;  
}

.bin img{
    width: 30px;
    height: 30px;
}