.img{
    float: left;
    height: 450px;
}

p{
    font-size: 30px;
}
.text0{
    color: #255f03;
    font-size: 3rem;
    text-align: center;
}

.cart1{
    width: 230px;
    height: 70px;
    font-size: 30px;
    background-color: #255f03;
    border-radius: 7px;
    position: relative;
    left: 0px;
    top: 35px;
}

.cart1:hover{
    background-color: #469717;
}

.controls:hover{
    background-color: #469717;
}

.controls2:hover{
    background-color: #469717;
}

.controls{
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 25px;
    right: 220px;
    font-size: 40px;
    background-color: #255f03;
    border: 0cm;
}

.controls2{
    width: 50px;
    height: 43px;
    position: relative;
    bottom: 29px;
    right: 220px;
    font-size: 40px;
    text-align: center;
    background-color: #255f03;
    border-left: 2px solid black;
    border-right: 2px solid black;
}