.img{
    float: left;
}

p{
    font-size: 30px;
}
.text0{
    color: #255f03;
    font-size: 3rem;
    text-align: center;
}

.cart1{
    width: 230px;
    height: 70px;
    font-size: 30px;
    background-color: #255f03;
    border-radius: 7px;
    position: relative;
    left: 0px;
    top: 20px;
}

.cart1:hover{
    background-color: #469717;
}

.decrease:hover{
    background-color: #338105;
}

.increase:hover{
    background-color: #338105;
}

.number:hover{
    background-color: #338105;
}

.decrease{
    width: 30px;
    height: 34px;
    background-color: #255f03;
    position: relative;
    bottom: 30px;
    right: 230px;
    border-radius: 1px;
}

.increase{
    width: 30px;
    height: 34px;
    background-color: #255f03;
    position: relative;
    bottom: 30px;
    right: 230px;
    border-radius: 1px;
}

.number{
    width: 45px;
    height: 49px;
    background-color: #255f03;
    position: relative;
    bottom: 44px;
    right: 230px;
    border-radius: 1px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    font-size: 2em;
    text-align: center;
}