.toptext{
    text-align: center;
    font-size: 2em;
    color: #255f03;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.content input{
    text-align: center;
    font-size: 20px;
    height: 50px;
    width: 300px;
    border: 5px solid #255f03;
    border-radius: 10px;
}

.end{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}


.end button{
    height: 50px;
    width: 300px;
    border: 5px solid #255f03;
    border-radius: 10px;
    background-color: #255f03;
    font-size: 20px;
}