 .cart{
    width: 40px;
    height: 40px;
    position: relative;
    left: 320px;
    top: 20px;
}

.b1{
    width: 150px;
    height: 40px;
    background-color: #255f03;
    font-size: 17px;
}

.left{
    padding: 20px;
}

.right{
    width: 40px;
    height: 40px;
    position: relative;
    left: 300px;
    padding-left: 25px;
}