.top1{
    color: #255f03;
}

.ttext{
    text-align: center;
    width: 100px;
    height: 80px;
    font-size: 20px;
    /* color: #255f03; */
    border-radius: 10px;
    background-color: #255f03;
}