.text{
    text-align: center;
    font-size: 2em;
    color: #255f03;
}
/* 
.Braids{
    width: 200px;
    height: 200px;
    background-color: #255f03;
    border-radius: 10px;
    text-align: center;
}

.Wig{
    width: 200px;
    height: 200px;
    background-color: #255f03;
    border-radius: 10px;
    text-align: center;
}

.Scalpandhair{
    width: 200px;
    height: 200px;
    background-color: #255f03;
    border-radius: 10px;
    text-align: center;
}

.Hairproducts{
    width: 200px;
    height: 200px;
    background-color: #255f03;
    border-radius: 10px;
    text-align: center;
} */

.card-body{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

/* .texts{
    font-size: 30px;
    background-color: #255f03;
} */


.texts2{
    font-size: 40px;
    background-color: #255f03;
    border-radius: 7px;
    height: 200px;
    width: 230px;
}