.cart2{
    width: 230px;
    height: 70px;
    font-size: 30px;
    background-color: #255f03;
    border-radius: 7px;
    position: relative;
    left: 5px;
    top: 150px;
}

.cart2:hover{
    background-color: #469717;
}

.decrease2:hover{
    background-color: #338105;
}

.increase2:hover{
    background-color: #338105;
}

.number2:hover{
    background-color: #338105;
}

