.img1{
    position: relative;
    top: 80px;
}

.textt1{
    color: #255f03;
    font-size: 2rem;
    text-align: center;
}

.cart1{
    width: 230px;
    height: 70px;
    font-size: 30px;
    background-color: #255f03;
    position: relative;
    left: 330px;
    border-radius: 7px;
}

.cart1:hover{
    background-color: #469717;
}

.decrease{
    width: 30px;
    height: 34px;
    background-color: #255f03;
    position: relative;
    left: 100px;
    bottom: 105px;
    border-radius: 1px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.increase{
    width: 30px;
    height: 34px;
    background-color: #255f03;
    position: relative;
    left: 84px;
    bottom: 105px;
    border-radius: 1px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.number{
    width: 50px;
    height: 57px;
    background-color: #255f03;
    position: relative;
    left: 90px;
    bottom: 122px;
    border-radius: 1px;
    border-bottom: 3px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    font-size: 2em;
}

.paragraph{
    font-size: 10px;
    position: relative;
    left: 600px;
    top: 500px;
}