.img{
    float: left;
}

p{
    font-size: 30px;
}
.textt1{
    color: #255f03;
    font-size: 2rem;
    text-align: center;
}

.cart1{
    width: 230px;
    height: 70px;
    font-size: 30px;
    background-color: #255f03;
    position: relative;
    left: 30px;
    top: 90px;
    border-radius: 7px;
}

.cart1:hover{
    background-color: #469717;
}

.decrease{
    width: 30px;
    height: 34px;
    background-color: #255f03;
    position: relative;
    top: 30px;
    right: 200px;
    border-radius: 1px;
    /* border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black; */
}


.increase1{
    width: 50px;
    height: 55px;
    background-color: #255f03;
     position: relative;
    top: 30px;
    right: 216px;
    border-radius: 1px;
}
.increase{
    width: 30px;
    height: 34px;
    background-color: #255f03;
     position: relative;
    top: 2px;
    right: 6px;
    border-radius: 1px;
}

.number{
    width: 50px;
    height: 50px;
    background-color: #255f03;
    position: relative;
    top: 15px;
    right: 210px;
    border-radius: 1px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    font-size: 2em;
}