.img1{
    position: relative;
    top: 80px;
}

.textt1{
    color: #255f03;
    font-size: 2rem;
    text-align: center;
}

.cart1{
    width: 230px;
    height: 70px;
    font-size: 30px;
    background-color: #255f03;
    position: relative;
    left: 500px;
    border-radius: 7px;
}

.cart1:hover{
    background-color: #469717;
}

.number{
    width: 20px;
    height: 30px;
    background-color: #255f03;
    position: relative;
    left: 400px;
    bottom: 200px;
}


.number2{
    width: 20px;
    height: 30px;
    background-color: #255f03;
    position: relative;
    left: 400px;
    bottom: 200px;
}


.number3{
    width: 20px;
    height: 30px;
    background-color: #255f03;
    position: relative;
    left: 400px;
    bottom: 200px;
}