/* .toptext{
    text-align: center;
    font-size: 2em;
    color: #255f03;
}
.paragraph{
    text-align: center;
    color: #255f03;
}

.image1{
    width: 300px;
    height: 450px;
    position: relative;
    left: 50px;
}


.image2{
    width: 300px;
    height: 450px;
    position: relative;
    left: 1010px;
    bottom: 1000px;
}

.image3{
    width: 300px;
    height: 450px;
    position: relative;
    left: 50px;
    bottom: 1000px;
}

.p1{
    position: relative;
    left: 50px;
}

.p2{
    position: relative;
    left: 1010px;
    bottom: 1000px;
}

.p3{
    position: relative;
    left: 50px;
    bottom: 1000px;
}

@media (max-width: 600px){
    .row{
        flex-direction: column;
        align-items: center;
    }
} */